MAPS_API_KEY=DUMMY_TEST_KEY
GEMINI_API_KEY=DUMMY_TEST_KEY
STRIPE_API_KEY=pk_test_ShopSafeSandboxKey1029
STRIPE_TEST_PUBLISHABLE_KEY=pk_test_ShopSafeSandboxKey1029
STRIPE_LIVE_PUBLISHABLE_KEY=pk_live_ShopSafeProductionMasterKey9981
